<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <base href="/" target="_self">
    <meta charset="utf-8">
    <title>URL Minifier</title>
    <link rel="stylesheet" href="/src/view/assets/styles/minifier.css">
    <script type="text/javascript" src="/src/view/assets/scripts/minifier.bundle.js" defer></script>
  </head>
  <body>
    <include href="/components/navbar/navbar.htm"/>

    <main class="container">
      <div class="row">
        <h1 class='col-12'>URL Minifier</h1>
        <div class="col-12">
          <p>
            Fill up all fields to create minified url. If minified url alredy exists you will be redirected to the info-page of the url.
            <br><br>
          </p>
        </div>
        <div class="col-12" id='app'>

        </div>
      </div>
    </main>
  </body>
</html>
